/* Cards */
.container-button {
  display: flex;
  margin-bottom: 2rem;
}

.btnGerarPersonagem {
  width: auto;
  max-width: 25vw;

  height: 3rem;
  padding: 1.5rem;

  margin: 0 auto;
  margin-top: 2rem;

  display: flex;
  align-items: center;

  border-radius: 1.5rem;
  border-style: none;
  
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;

  border: solid 1px #ededed;

  background-color: var(--branco);
  color: #3c4043;

  cursor: pointer;
  transition: all .5s ease-in-out;

  i {
    display: none;
  }

  &:hover {
    background: var(--azudalogo);
    box-shadow: 0px 0px 12px 3px var(--verde);
    color: var(--branco);
  }

  &:focus {
    outline: none;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  a {
    text-decoration: none;
    color: var(--branco);
    margin: 0 1rem 0 1rem;
  }

  a:hover {
    color: var(--azudalogo);
    box-shadow: 0px 0px var(--verde);
    -webkit-box-shadow: -1px -1px 20px 1px var(--verde);
    -moz-box-shadow: -1px -1px 39px 1px var(--verde);
    border-radius:100px;  
    transition: all .4s ease-in-out;
  }
}

@media only screen and (max-width:768px) {
  .btnGerarPersonagem {
    font-size: 0;
    width: 5%;
    max-width: 90%;
    justify-content: center;
  }

  .btnGerarPersonagem > i {
    display: block;
    font-size: 1rem;
    transform: translateX(-10%);
  }
}